{% extends 'base.html' %}

{% block title %}
    {% include 'includes/title.html' %}
{% endblock %}

{% block content %}
    <h1>Create new Search Profile</h1>

    <form method="post" >
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" {% if reached_max_sp %} disabled {% endif %}/>
        {% if reached_max_sp %}
            <p>You've reached the maximum number of Search profiles you can have.<br>
               Please upgrade to Premium to have access to more Search profiles and many other cool features.</p>
        {% endif %}
    </form>
{% endblock %}