{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}
    {% include 'includes/title.html' %}
{% endblock %}

{% block content %}

{% include 'includes/shared/breadcrumbs.html' %}

<!-- Contact
================================================== -->

<!-- Container -->
<div class="container">

	<div class="row">
        <div class="col-md-4 col-md-offset-4">

            <p>
                {% blocktrans %}
                Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
                {% endblocktrans %}
            </p>

            <!--Tab -->
            <div class="my-account style-1 margin-top-5 margin-bottom-40">
                <div class="tabs-container alt">

                    <!-- Register -->
                    <div class="tab-content">

                        <form method="post" autocomplete="off" class="login">
                            {% csrf_token %}

                            {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field }}
                            {% endfor %}

                            {% if form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                                </div>
                            {% endif %}

                            <div class="form-group form-row form-row-wide">
                                {% if form.email.errors %}
                                    <div class="has-error">
                                        <label class="control-label" for="{{ form.email.id_for_label }}">Your Email:
                                            <i class="im im-icon-Mail"></i>
                                            {% render_field form.email class="form-control" %}
                                        </label>
                                        {{ form.email.errors }}
                                    </div>
                                {% else %}
                                    <label class="control-label" for="{{ form.email.id_for_label }}">Your Email:
                                        <i class="im im-icon-Mail"></i>
                                        {% render_field form.email class="form-control" %}
                                    </label>
                                {% endif %}
                                    
                                {% if form.help_text %}
                                    <small class="form-text text-muted">{{ form.help_text }}</small>
                                {% endif %}
                            </div>

                            <p class="form-row">
                                <input type="submit" value="{% trans 'Reset password' %}" class="button border fw margin-top-10" />
                            </p>

                        </form>
                        
                        <a href="{% url 'authy:login' %}">Back to log-in</a>
                    </div>

                </div>
            </div>
        
        </div>
	</div>

</div>
<!-- Container / End -->
{% endblock %}
