{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% include 'includes/title.html' %}
{% endblock %}

{% block content %}
<p>
    {% blocktrans %}
    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
</p>
<form method="post" autocomplete="off">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Reset password' %}" />
</form>
    <br/>
    <a href="{% url 'authy:login' %}">Back to log-in</a>
{% endblock %}
