{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}
    {% include 'includes/title.html' %}
{% endblock %}

{% block content %}
{% include 'includes/shared/breadcrumbs.html' %}

<div class="container padding-bottom-70">
	<div class="row">

        <!-- Widget -->
		<div class="col-md-4">
			<div class="sidebar left">
				{% include 'includes/shared/profile-sidemenu.html' %}
			</div>
        </div>
        
        <div class="col-md-8">
            <form method="post" action="">
                {% csrf_token %}
                
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                    </div>
                {% endif %}
                
                <div class="row">
                    <div class="col-md-6 my-profile">
                        <h4 class="margin-top-0 margin-bottom-30">Change Password</h4>

                        <div class="form-group form-row form-row-wide">
                            {% if form.old_password.errors %}
                                <div class="has-error">
                                    <label class="control-label" for="{{ form.old_password.id_for_label }}">Current password:
                                        <i class="im im-icon-Lock-2"></i>
                                        {% render_field form.old_password class="form-control" %}
                                    </label>
                                    {{ form.old_password.errors }}
                                </div>
                            {% else %}
                                <label class="control-label" for="{{ form.old_password.id_for_label }}">Current password:
                                    <i class="im im-icon-Lock-2"></i>
                                    {% render_field form.old_password class="form-control" %}
                                </label>
                            {% endif %}
                                
                            {% if form.help_text %}
                                <small class="form-text text-muted">{{ form.help_text }}</small>
                            {% endif %}
                        </div>

                        <div class="form-group form-row form-row-wide">
                            {% if form.new_password1.errors %}
                                <div class="has-error">
                                    <label class="control-label" for="{{ form.new_password1.id_for_label }}">New Password:
                                        <i class="im im-icon-Lock-2"></i>
                                        {% render_field form.new_password1 class="form-control" %}
                                    </label>
                                    {{ form.new_password1.errors }}
                                </div>
                            {% else %}
                                <label class="control-label" for="{{ form.new_password1.id_for_label }}">New Password:
                                    <i class="im im-icon-Lock-2"></i>
                                    {% render_field form.new_password1 class="form-control" %}
                                </label>
                            {% endif %}
                                
                            {% if form.help_text %}
                                <small class="form-text text-muted">{{ form.help_text }}</small>
                            {% endif %}
                        </div>

                        <div class="form-group form-row form-row-wide">
                            {% if form.new_password2.errors %}
                                <div class="has-error">
                                    <label class="control-label" for="{{ form.new_password2.id_for_label }}">Confirm New Password:
                                        <i class="im im-icon-Lock-2"></i>
                                        {% render_field form.new_password2 class="form-control" %}
                                    </label>
                                    {{ form.new_password2.errors }}
                                </div>
                            {% else %}
                                <label class="control-label" for="{{ form.new_password2.id_for_label }}">Confirm New Password:
                                    <i class="im im-icon-Lock-2"></i>
                                    {% render_field form.new_password2 class="form-control" %}
                                </label>
                            {% endif %}
                                
                            {% if form.help_text %}
                                <small class="form-text text-muted">{{ form.help_text }}</small>
                            {% endif %}
                        </div>
                        
                        <button class="margin-top-20 button" type="submit">{% trans 'Change password' %}</button>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="notification notice">
                            <ul>
                                <li>Your password can’t be too similar to your other personal information.</li>
                                <li>Your password must contain at least 8 characters.</li>
                                <li>Your password can’t be a commonly used password.</li>
                                <li>Your password can’t be entirely numeric.</li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}


