{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% include 'includes/title.html' %}
{% endblock %}

{% block content %}

<!-- Contact
================================================== -->

<!-- Container -->
<div class="container padding-top-100 padding-bottom-50">

	<div class="row">
        <div class="col-md-4 col-md-offset-4">

            <!--Tab -->
            <div class="my-account style-1 margin-top-5 margin-bottom-40">
                <div class="tabs-container alt">

                    <h2>Reset Password</h2>
                    <p>
                        {% blocktrans %}
                            Forgot your password?
                            Enter your email in the form below and we'll send you instructions for creating a new one.
                        {% endblocktrans %}
                    </p>

                    <!-- Register -->
                    <div class="tab-content">

                        <form method="post" autocomplete="off" class="login">
                            {% csrf_token %}

                            {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field }}
                            {% endfor %}

                            {% if form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                                </div>
                            {% endif %}

                            <div class="form-group form-row form-row-wide">
                                <label class="control-label" for="{{ form.email.id_for_label }}">
                                    {{ form.email.label }}:
                                    <i class="im im-icon-Mail"></i>
                                    {{ form.email }}
                                </label>
                                {{ form.email.errors }}
                                <small class="help-text text-muted">{{ form.email.help_text }}</small>
                            </div>

                            <p class="form-row">
                                <button type="submit" class="button border fullwidth margin-top-30">{% trans 'Reset password' %}</button>
                            </p>
                        </form>
                        <a href="{% url 'authy:login' %}">Back to log-in</a>
                    </div>

                </div>
            </div>
        
        </div>
	</div>

</div>
<!-- Container / End -->
{% endblock %}
