{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% include 'includes/title.html' %}
{% endblock %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
    <meta name="referrer" content="origin">
{% endblock %}

{% block content %}

{% include 'includes/shared/breadcrumbs.html' %}

<!-- Contact
================================================== -->

<!-- Container -->
<div class="container">

	<div class="row">
        <div class="col-md-4 col-md-offset-4">

        {% if validlink %}
          <p>{% trans "Enter your new password below to reset your password:" %}</p>

            <!--Tab -->
            <div class="my-account style-1 margin-top-5 margin-bottom-40">
                <div class="tabs-container alt">

                    <!-- Register -->
                    <div class="tab-content">

                        <form method="post" autocomplete="off" class="login">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="button border fullwidth margin-top-30">{% trans 'Set password' %}</button>
                        </form>
                          
                        <a href="{% url 'authy:login' %}">Back to log-in</a>
                    </div>

                </div>
            </div>

        {% else %}
          <p>Password reset unsuccessful. Please <a href="{% url 'auth_password_reset' %}">try again.</a></p>
        {% endif %}
        
        </div>
	</div>

</div>
<!-- Container / End -->
{% endblock %}
