{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% include 'includes/title.html' %}
{% endblock %}

{% block content %}


<!-- Contact
================================================== -->

<!-- Container -->
<div class="container padding-top-100 padding-bottom-50">

	<div class="row">
        <div class="col-md-4 col-md-offset-4">

            <!--Tab -->
            <div class="my-account style-1 margin-top-5 margin-bottom-40">
                <div class="tabs-container alt">

                    <h2>Register an account</h2>

                    <!-- Register -->
                    <div class="tab-content">

                        <form method="post" autocomplete="off" class="register">

                            {% csrf_token %}

                            {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field }}
                            {% endfor %}

                            {% if form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                                </div>
                            {% endif %}

                            <!-- Email -->
                            <div class="form-group form-row form-row-wide">
                                <label class="control-label" for="{{ form.email.id_for_label }}">
                                    {{ form.email.label }}:
                                    <i class="im im-icon-Mail"></i>
                                    {{ form.email }}
                                </label>
                                {{ form.email.errors }}
                                <small class="help-text text-muted">{{ form.email.help_text }}</small>
                            </div>

                            <!-- First Name -->
                            <div class="form-group form-row form-row-wide">
                                <label class="control-label" for="{{ form.first_name.id_for_label }}">
                                    {{ form.first_name.label }}:
                                    <i class="im im-icon-Font-Name"></i>
                                    {{ form.first_name }}
                                </label>
                                {{ form.first_name.errors }}
                                <small class="help-text text-muted">{{ form.first_name.help_text }}</small>
                            </div>

                            <!-- Last Name -->
                            <div class="form-group form-row form-row-wide">
                                <label class="control-label" for="{{ form.last_name.id_for_label }}">
                                    {{ form.last_name.label }}:
                                    <i class="im im-icon-Font-Name"></i>
                                    {{ form.last_name }}
                                </label>
                                {{ form.last_name.errors }}
                                <small class="help-text text-muted">{{ form.last_name.help_text }}</small>
                            </div>

                            <!-- Telephone -->
                            <div class="form-group form-row form-row-wide">
                                <label class="control-label" for="{{ form.telephone.id_for_label }}">
                                    {{ form.telephone.label }}:
                                    <i class="im im-icon-Phone-2"></i>
                                    {{ form.telephone }}
                                </label>
                                {{ form.telephone.errors }}
                                <small class="help-text text-muted">{{ form.telephone.help_text }}</small>
                            </div>

                            <!-- Password -->
                            <div class="form-group form-row form-row-wide">
                                <label class="control-label" for="{{ form.password1.id_for_label }}">
                                    {{ form.password1.label }}:
                                    <i class="im im-icon-Lock-2"></i>
                                    {{ form.password1 }}
                                </label>
                                {{ form.password1.errors }}
{#                              <small class="help-text text-muted">{{ form.password1.help_text }}</small>#}
                            </div>

                            <!-- Repeat Password -->
                            <div class="form-group form-row form-row-wide">
                                <label class="control-label" for="{{ form.password2.id_for_label }}">
                                    {{ form.password2.label }}:
                                    <i class="im im-icon-Lock-2"></i>
                                    {{ form.password2 }}
                                </label>
                                {{ form.password2.errors }}
{#                                <small class="help-text text-muted">{{ form.password2.help_text }}</small>#}
                            </div>

                            <!-- Terms of Service -->
                            <div class="form-group form-row form-row-wide margin-top-30">
                                <label for="{{ form.tos.id_for_label }}" class="rememberme">
                                    {{ form.tos }}
                                    I have read and agree to the <a href="#">Terms of Service</a>
                                </label>
                                {{ form.tos.errors }}
                                <small class="help-text text-muted">{{ form.tos.help_text }}</small>
                            </div>

                            <p class="form-row margin-top-500">
                                <button type="submit" class="button border fullwidth margin-top-40" name="register">{% trans 'Submit' %}</button>
                            </p>

                        </form>
                    </div>

                </div>
            </div>
            
        </div>

        <div class="col-md-4">
             <div class="notification notice">
                {{ form.password1.help_text }}
            </div>
        </div>
	</div>

</div>
<!-- Container / End -->
{% endblock %}


