{% extends 'base.html' %}

{% block title %}
    {% include 'includes/title.html' %}
{% endblock %}

{% block content %}

    <h2>Create Listing!</h2>

    <form method="post" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
            {% if generate_dummy_listing %}
                <input type="button" value="Generate dummy data" onclick="generateListingData()" />
                <input type="submit" value="Submit" />
            {% endif %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>

{% endblock %}