{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    {% include 'includes/title.html' %}
{% endblock %}

{% block content %}


    <!-- Titlebar
    ================================================== -->
    <div id="titlebar" class="property-titlebar margin-bottom-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                    <a href="listings-list-with-sidebar.html" class="back-to-listings"></a>
                    <div class="property-title">
                        <h2>{{ object.title }} <span class="property-badge">{{object.listing_type}}</span></h2>
                        <span>
                            <a href="#location" class="listing-address">
                                <i class="fa fa-map-marker"></i>
                                {{ object.zip_code }} {{object.address}}, {{ object.city }}
                            </a>
                        </span>
                    </div>

                    <div class="property-pricing">
                        <div class="property-price">{{object.price}} &euro;</div>
                        <!-- <div class="sub-price">$770 / sq ft</div> -->
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Content
    ================================================== -->
    <div class="container">
        <div class="row margin-bottom-50">
            <div class="col-md-12">
                            
                <!-- Slider -->
                <div class="property-slider default">
                    <a href="{{ object.cover_image.url }}" data-background-image="{{ object.cover_image.url }}" class="item mfp-gallery"></a>
                    {% for image in object.get_images %}
                        <a href="{{ image.image.url }}" data-background-image="{{ image.image.url }}" class="item mfp-gallery"></a>
                    {% endfor %}
                </div>

                <!-- Slider Thumbs -->
                <div class="property-slider-nav">
                    <div class="item"><img src="{{ object.cover_image.url }}" alt="Cover image" /></div>
                    {% for image in object.get_images %}
                        <div class="item"><img src="{{ image.image.url }}" alt="{{ image.title }}" /></div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
    
            <!-- Property Description -->
            <div class="col-lg-8 col-md-7 sp-content">
                <div class="property-description">

                    <!-- Main Features -->
                    <ul class="property-main-features">
                        <li>Area <span>{{object.quadrature}} m<sup>2</sup></span></li>
                        <li>Rooms <span>{{object.rooms}}</span></li>
                        <li>Bedrooms <span>{{object.bedrooms}}</span></li>
                        <li>Opened <span>{{ object.times_visited }} time{{ object.times_visited|pluralize }}</span></li>
                        <li>Listed?? <span>{{ object.created_at|naturalday }}</span></li>
                    </ul>

                    <!-- Description -->
                    <h3 class="desc-headline">Description</h3>
                    <div class="show-more">
                        <p>{{ object.description }}</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur corporis non magnam, labore harum, molestiae repudiandae aliquid saepe eligendi nihil beatae cum quibusdam libero dolores earum quae pariatur possimus excepturi.</p>

                        <a href="#" class="show-more-button">Show More <i class="fa fa-angle-down"></i></a>
                    </div>

                    <!-- Details -->
                    <h3 class="desc-headline">Details</h3>
                    <ul class="property-features margin-top-0">
                        <li>Available from: <span>{{object.available_from}}</span></li>
                        <li>Home Type: <span>{{object.home_type}}</span></li>
                        <li>Cooling: <span>Central Cooling</span></li>
                        <li>Heating: <span>{{object.heating}}</span></li>
                        <li>Floor: <span>{{object.floor}}</span></li>
                        <li>Interior: <span>{{object.interior}}</span></li>
                    </ul>


                    <!-- Features -->
                    <h3 class="desc-headline">Features</h3>
                    <ul class="property-features checkboxes margin-top-0">
                        <li class="{{ object.elevator|yesno:'property-features-on,property-features-off' }}">Elevator</li>
                        <li class="{{ object.balcony|yesno:'property-features-on,property-features-off' }}">Balcony</li>
                        <li class="{{ object.parking|yesno:'property-features-on,property-features-off' }}">Parking</li>
                        <li class="{{ object.basement|yesno:'property-features-on,property-features-off' }}">Basement</li>
                        <li class="{{ object.is_available|yesno:'property-features-on,property-features-off' }}">Is available</li>
                    </ul>
                </div>
            </div>
            <!-- Property Description / End -->

            <!-- Sidebar -->
            <div class="col-lg-4 col-md-5 sp-sidebar">
                <div class="sidebar sticky right">
                    <!-- Widget -->
                    <div class="widget margin-bottom-30">
                        <button class="widget-button with-tip" data-tip-content="Print"><i class="sl sl-icon-printer"></i></button>
                        <button class="widget-button with-tip" data-tip-content="Add to Bookmarks"><i class="fa fa-star-o"></i></button>
                        <button class="widget-button with-tip compare-widget-button" data-tip-content="Add to Compare"><i class="icon-compare"></i></button>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Widget / End -->

                    <!-- Widget -->
                    <div class="widget">

                        <!-- Agent Widget -->
                        <div class="agent-widget">
                            <div class="agent-title">
                                <div class="agent-photo">
                                    <img src="images/agent-avatar.jpg" alt="Agent avatar" />
                                </div>
                                <div class="agent-details">
                                    <h4><a href="{% url 'accounts:user_identifier' object.user.identifier %}">{{ object.user }}</a></h4>
                                    <span><i class="sl sl-icon-call-in"></i>(123) 123-456</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <input type="text" placeholder="Your Email" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$">
                            <input type="text" placeholder="Your Phone">
                            <textarea placeholder="Type your message here..."></textarea>
                            <button class="button fullwidth margin-top-5">Send Message</button>
                        </div>
                        <!-- Agent Widget / End -->

                    </div>
                    <!-- Widget / End -->

                    {% if user == object.user %}
                    <!-- Widget -->
                    <div class="widget">

                        <!-- Agent Widget -->
                        <div class="agent-widget">
                            <h3>Gallery</h3>
                            <a class="button fullwidth border" href="{% url 'listings:update' object.slug %}">Update</a>

                            <div class="submit-section">                                    
                                <form action="." id="propertyUploadImages" class="dropzone" method="post" enctype="multipart/form-data">
                                    <input id="imageHolder" type="file" name="images" multiple required >
                                        {% csrf_token %}
                                        <div class="fallback">
                                            <input type="file" name="images" multiple required >
                                        </div>
                                    <button class="button fullwidth margin-top-5" type="submit">Submit</button>
                                </form>
                            </div>

                            <a class="button fullwidth border" href="{% url 'listings:delete' object.slug %}" onclick="return confirm('Are you sure you want to delete this listing?')">Delete</a>
                        </div>
                        <!-- Agent Widget / End -->

                    </div>
                    <!-- Widget / End -->
                    {% endif %}

                </div>
            </div>
            <!-- Sidebar / End -->
        </div>

    </div>
{% endblock %}