{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}
    {% include '_shared/title.html' %}
{% endblock %}

{% block content %}

<!-- Banner
================================================== -->
<div class="parallax" 
data-background="{% static 'assets/images/home-parallax.jpg' %}" 
data-color="#36383e"
data-color-opacity="0.45"
data-img-width="2500" 
data-img-height="1600">
	<div class="parallax-content">

		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<!-- Main Search Container -->
					<div class="main-search-container">
						<h2>Find Your Dream Home</h2>

						<!-- Main Search -->
						<form class="main-search-form" action="{% url 'listings:search' %}" method="get" autocomplete="off">
                            <!-- Type -->
							<div class="search-type">
								<label class="active" data-search-type="none"><input class="first-tab" name="tab" checked="checked" type="radio">Any Status</label>
								<label data-search-type="sale"><input name="tab" type="radio">For Sale</label>
								<label data-search-type="rent"><input name="tab" type="radio">For Rent</label>
								<div class="search-type-arrow"></div>
                            </div>

                            <!-- Box -->
							<div class="main-search-box">
                                {{ filter.form.non_field_errors }}
                                <div class="main-search-input larger-input">
                                    {{ filter.form.title.errors }}
                                    {{ filter.form.title.label_tag }}
                                    {{ filter.form.title }}
                                    <button class="button" type="submit">Search</button>
                                </div>
                                <div class="row with-forms">
                                    <div class="col-md-4">
                                        {{ filter.form.city.errors }}
										{{ filter.form.city.label_tag }}
										{% render_field filter.form.city class="chosen-select-no-single" %}
                                    </div>
                                    <div class="col-md-8 search-by-price">
                                        {{ filter.form.price.errors }}
                                        {{ filter.form.price.label_tag }}
                                        {{ filter.form.price }}
                                    </div>
								</div>
								
								<!-- More Search Options -->
								<a href="#" class="more-search-options-trigger" data-open-title="More Options" data-close-title="Less Options"></a>

								<div class="more-search-options">
									<div class="more-search-options-container">

										<!-- Row -->
										<div class="row with-forms">

											<!-- Min Price -->
											<div class="col-md-6">
												
												<!-- Select Input -->
												<div class="select-input">
													<input type="text" placeholder="Min Area" data-unit="Sq Ft">
												</div>
												<!-- Select Input / End -->

											</div>

											<!-- Max Price -->
											<div class="col-md-6">
												
												<!-- Select Input -->
												<div class="select-input">
													<input type="text" placeholder="Max Area" data-unit="Sq Ft">
												</div>
												<!-- Select Input / End -->

											</div>

										</div>
										<!-- Row / End -->


										<!-- Row -->
										<div class="row with-forms">

											<!-- Min Area -->
											<div class="col-md-6">
												<select data-placeholder="Beds" class="chosen-select-no-single" >
													<option label="blank"></option>	
													<option>Beds (Any)</option>	
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>

											<!-- Max Area -->
											<div class="col-md-6">
												<select data-placeholder="Baths" class="chosen-select-no-single" >
													<option label="blank"></option>	
													<option>Baths (Any)</option>	
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>

										</div>
										<!-- Row / End -->
			

										<!-- Checkboxes -->
										<div class="checkboxes in-row">
									
											<input id="check-2" type="checkbox" name="check">
											<label for="check-2">Air Conditioning</label>

											<input id="check-3" type="checkbox" name="check">
											<label for="check-3">Swimming Pool</label>

											<input id="check-4" type="checkbox" name="check" >
											<label for="check-4">Central Heating</label>

											<input id="check-5" type="checkbox" name="check">
											<label for="check-5">Laundry Room</label>	


											<input id="check-6" type="checkbox" name="check">
											<label for="check-6">Gym</label>

											<input id="check-7" type="checkbox" name="check">
											<label for="check-7">Alarm</label>

											<input id="check-8" type="checkbox" name="check">
											<label for="check-8">Window Covering</label>
									
										</div>
										<!-- Checkboxes / End -->

									</div>
								</div>
								<!-- More Search Options / End -->

                                <!-- The hidden input for Listing Type -->
                                <div class="row with-forms hidden">
                                    <div class="col-md-4">
										{% render_field filter.form.type  %}
                                    </div>
                                </div>

                            </div>
                        </form>

					</div>
					<!-- Main Search Container / End -->

				</div>
			</div>
		</div>

	</div>
</div>

<!-- Content
================================================== -->
<div class="container">
	<div class="row">
	
		<div class="col-md-12">
			<h3 class="headline margin-bottom-25 margin-top-65">Featured Properties</h3>
		</div>

		<!-- Carousel -->
		<div class="col-md-12">
			<div class="carousel">
            <!-- @ TODO: Change to featured -->
                {% for listing in latest_5 %}
                    {% include 'listings/includes/vertical_card.html' %}
                {% endfor %}
			</div>
		</div>
		<!-- Carousel / End -->

	</div>
</div>

<!-- Popular -->
<section class="fullwidth margin-top-95 margin-bottom-0">
	<h3 class="headline-box">Most Popular Places</h3>
	<div class="container">
		<div class="row">

			<!-- <div class="col-md-12">
				<h3 class="headline centered margin-bottom-35 margin-top-10">Most Popular Places <span>Properties In Most Popular Places</span></h3>
			</div> -->
			
			<div class="col-md-4">

				<!-- Image Box -->
				<a href="listings-list-with-sidebar.html" class="img-box" data-background-image="images/popular-location-01.jpg">

					<!-- Badge -->
					<div class="listing-badges">
						<span class="featured">Featured</span>
					</div>

					<div class="img-box-content visible">
						<h4>New York </h4>
						<span>14 Properties</span>
					</div>
				</a>

			</div>	
				
			<div class="col-md-8">

				<!-- Image Box -->
				<a href="listings-list-with-sidebar.html" class="img-box" data-background-image="images/popular-location-02.jpg">
					<div class="img-box-content visible">
						<h4>Los Angeles</h4>
						<span>24 Properties</span>
					</div>
				</a>

			</div>	

			<div class="col-md-8">

				<!-- Image Box -->
				<a href="listings-list-with-sidebar.html" class="img-box" data-background-image="images/popular-location-03.jpg">
					<div class="img-box-content visible">
						<h4>San Francisco </h4>
						<span>12 Properties</span>
					</div>
				</a>

			</div>	
				
			<div class="col-md-4">

				<!-- Image Box -->
				<a href="listings-list-with-sidebar.html" class="img-box" data-background-image="images/popular-location-04.jpg">
					<div class="img-box-content visible">
						<h4>Miami</h4>
						<span>9 Properties</span>
					</div>
				</a>

			</div>

		</div>
	</div>
</section>

<!-- Flip banner -->
<a href="#"
class="flip-banner parallax"
data-color="#6449E7"
data-color-opacity="0.9">
	<div class="flip-banner-content">
		<h2 class="flip-visible">We help people and homes find each other</h2>
		<h2 class="flip-hidden">Browse Properties <i class="sl sl-icon-arrow-right"></i></h2>
	</div>
</a>
<!-- Flip banner / End -->

{% endblock %}