{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% include 'includes/title.html' %}
{% endblock %}

{% block content %}

<!-- Banner
================================================== -->
<div class="parallax" 
data-background="{% static 'assets/images/home-parallax.jpg' %}" 
data-color="#36383e" 
data-color-opacity="0.45" 
data-img-width="2500" 
data-img-height="1600">
	<div class="parallax-content">

		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<!-- Main Search Container -->
					<div class="main-search-container">
						<h2>Find Your Dream Home</h2>
						
						<!-- Main Search -->
						<form class="main-search-form" action="{% url 'listings:search' %}" method="get" autocomplete="off">
                            <!-- Type -->
							<div class="search-type">
								<label class="active"><input class="first-tab" name="tab" checked="checked" type="radio">Any Status</label>
								<label><input name="tab" type="radio">For Sale</label>
								<label><input name="tab" type="radio">For Rent</label>
								<div class="search-type-arrow"></div>
                            </div>
                            
                            <!-- Box -->
							<div class="main-search-box">

                                {{ filter.form.non_field_errors }}
                                <div class="main-search-input larger-input">
                                    {{ filter.form.subject.errors }}
                                    <!-- <label for="{{ filter.form.title.id_for_label }}">Email title:</label> -->
                                    {{ filter.form.title }}
                                    <button class="button" type="submit">Search</button>
                                </div>
                                <div class="row with-forms">
                                    <div class="col-md-4">
                                        {{ filter.form.city.errors }}
                                        <!-- <label for="{{ filter.form.city.id_for_label }}">Your city:</label> -->
                                        {{ filter.form.city }}
                                    </div>
                                    <div class="col-md-8">
                                        {{ filter.form.price.errors }}
                                        <!-- <label for="{{ filter.form.price.id_for_label }}">Your email address:</label> -->
                                        {{ filter.form.price }}
                                    </div>
                                </div>
                                
                            </div>
                        </form>						

					</div>
					<!-- Main Search Container / End -->

				</div>
			</div>
		</div>

	</div>
</div>

<!-- Content
================================================== -->
<div class="container margin-bottom-100">
	<div class="row">
	
		<div class="col-md-12">
			<h3 class="headline margin-bottom-25 margin-top-65">Newly Added</h3>
		</div>
		
		<!-- Carousel -->
		<div class="col-md-12">
			<div class="carousel">
				
				<!-- Listing Item -->
					<div class="carousel-item">
					<div class="listing-item">

						<a href="single-property-page-1.html" class="listing-img-container">

							<div class="listing-badges">
								<span class="featured">Featured</span>
								<span>For Sale</span>
							</div>

							<div class="listing-img-content">
								<span class="listing-price">$275,000 <i>$520 / sq ft</i></span>
								<span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
								<span class="compare-button with-tip" data-tip-content="Add to Compare"></span>
							</div>

							<div class="listing-carousel">
								<div><img src="{% static 'assets/images/listing-01.jpg' %}" alt=""></div>
								<div><img src="{% static 'assets/images/listing-01b.jpg' %}" alt=""></div>
								<div><img src="{% static 'assets/images/listing-01c.jpg' %}" alt=""></div>
							</div>

						</a>
						
						<div class="listing-content">

							<div class="listing-title">
								<h4><a href="single-property-page-1.html">Eagle Apartments</a></h4>
								<a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" class="listing-address popup-gmaps">
									<i class="fa fa-map-marker"></i>
									9364 School St. Lynchburg, NY
								</a>
							</div>

							<ul class="listing-features">
								<li>Area <span>530 sq ft</span></li>
								<li>Bedrooms <span>2</span></li>
								<li>Bathrooms <span>1</span></li>
							</ul>

							<div class="listing-footer">
								<a href="#"><i class="fa fa-user"></i> David Strozier</a>
								<span><i class="fa fa-calendar-o"></i> 1 day ago</span>
							</div>

						</div>

					</div>
				</div>
				<!-- Listing Item / End -->


				<!-- Listing Item -->
				<div class="carousel-item">
					<div class="listing-item">

						<a href="single-property-page-2.html" class="listing-img-container">

							<div class="listing-badges">
								<span>For Rent</span>
							</div>

							<div class="listing-img-content">
								<span class="listing-price">$900 <i>monthly</i></span>
								<span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
								<span class="compare-button with-tip" data-tip-content="Add to Compare"></span>
							</div>

							<img src="{% static 'assets/images/listing-02.jpg' %}" alt="">

						</a>
						
						<div class="listing-content">

							<div class="listing-title">
								<h4><a href="single-property-page-2.html">Serene Uptown</a></h4>
								<a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" class="listing-address popup-gmaps">
									<i class="fa fa-map-marker"></i>
									6 Bishop Ave. Perkasie, PA
								</a>
							</div>

							<ul class="listing-features">
								<li>Area <span>440 sq ft</span></li>
								<li>Bedrooms <span>2</span></li>
								<li>Bathrooms <span>1</span></li>
							</ul>

							<div class="listing-footer">
								<a href="#"><i class="fa fa-user"></i> Harriette Clark</a>
								<span><i class="fa fa-calendar-o"></i> 2 days ago</span>
							</div>

						</div>

					</div>
				</div>
				<!-- Listing Item / End -->


				<!-- Listing Item -->
				<div class="carousel-item">
					<div class="listing-item">

						<a href="single-property-page-1.html" class="listing-img-container">

							<div class="listing-badges">
								<span class="featured">Featured</span>
								<span>For Rent</span>
							</div>

							<div class="listing-img-content">
								<span class="listing-price">$1700 <i>monthly</i></span>
								<span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
								<span class="compare-button with-tip" data-tip-content="Add to Compare"></span>
							</div>

							<img src="{% static 'assets/images/listing-03.jpg' %}" alt="">

						</a>
						
						<div class="listing-content">

							<div class="listing-title">
								<h4><a href="single-property-page-1.html">Meridian Villas</a></h4>
								<a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" class="listing-address popup-gmaps">
									<i class="fa fa-map-marker"></i>
									778 Country St. Panama City, FL
								</a>
							</div>

							<ul class="listing-features">
								<li>Area <span>1450 sq ft</span></li>
								<li>Bedrooms <span>2</span></li>
								<li>Bathrooms <span>3</span></li>
							</ul>

							<div class="listing-footer">
								<a href="#"><i class="fa fa-user"></i> Chester Miller</a>
								<span><i class="fa fa-calendar-o"></i> 4 days ago</span>
							</div>

						</div>
						<!-- Listing Item / End -->

					</div>
				</div>
				<!-- Listing Item / End -->


				<!-- Listing Item -->
				<div class="carousel-item">
					<div class="listing-item">


						<a href="single-property-page-3.html" class="listing-img-container">

							<div class="listing-badges">
								<span>For Sale</span>
							</div>

							<div class="listing-img-content">
								<span class="listing-price">$420,000 <i>$770 / sq ft</i></span>
								<span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
								<span class="compare-button with-tip" data-tip-content="Add to Compare"></span>
							</div>

							<div class="listing-carousel">
								<div><img src="{% static 'assets/images/listing-04.jpg' %}" alt=""></div>
								<div><img src="{% static 'assets/images/listing-04b.jpg' %}" alt=""></div>
							</div>

						</a>
						
						<div class="listing-content">

							<div class="listing-title">
								<h4><a href="single-property-page-3.html">Selway Apartments</a></h4>
								<a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" class="listing-address popup-gmaps">
									<i class="fa fa-map-marker"></i>
									33 William St. Northbrook, IL
								</a>
							</div>

							<ul class="listing-features">
								<li>Area <span>540 sq ft</span></li>
								<li>Bedrooms <span>2</span></li>
								<li>Bathrooms <span>2</span></li>
							</ul>

							<div class="listing-footer">
								<a href="#"><i class="fa fa-user"></i> Kristen Berry</a>
								<span><i class="fa fa-calendar-o"></i> 3 days ago</span>
							</div>

						</div>
						<!-- Listing Item / End -->

					</div>
				</div>
				<!-- Listing Item / End -->
			</div>
		</div>
		<!-- Carousel / End -->

	</div>
</div>

<!-- Flip banner -->
<a href="listings-half-map-grid-standard.html"
class="flip-banner parallax"
data-color="#6449E7"
data-color-opacity="0.9">
	<div class="flip-banner-content">
		<h2 class="flip-visible">We help people and homes find each other</h2>
		<h2 class="flip-hidden">Browse Properties <i class="sl sl-icon-arrow-right"></i></h2>
	</div>
</a>
<!-- Flip banner / End -->

{% endblock %}