{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}
    {% include 'includes/title.html' %}
{% endblock %}

{% block content %}

<!-- Banner
================================================== -->
<div class="parallax" 
data-background="{% static 'assets/images/home-parallax.jpg' %}" 
data-color="#36383e" 
data-color-opacity="0.45" 
data-img-width="2500" 
data-img-height="1600">
	<div class="parallax-content">

		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<!-- Main Search Container -->
					<div class="main-search-container">
						<h2>Find Your Dream Home</h2>
						
						<!-- Main Search -->
						<form class="main-search-form" action="{% url 'listings:search' %}" method="get" autocomplete="off">
                            <!-- Type -->
							<div class="search-type">
								<label class="active"><input class="first-tab" name="tab" checked="checked" type="radio">Any Status</label>
								<label><input name="tab" type="radio">For Sale</label>
								<label><input name="tab" type="radio">For Rent</label>
								<div class="search-type-arrow"></div>
                            </div>
                            
                            <!-- Box -->
							<div class="main-search-box">

                                {{ filter.form.non_field_errors }}
                                <div class="main-search-input larger-input">
                                    {{ filter.form.title.errors }}
                                    {{ filter.form.title.label_tag }}
                                    {{ filter.form.title }}
                                    <button class="button" type="submit">Search</button>
                                </div>
                                <div class="row with-forms">
                                    <div class="col-md-4">
                                        {{ filter.form.city.errors }}
										{{ filter.form.city.label_tag }}
										{% render_field filter.form.city class="chosen-select-no-single" %}
                                    </div>
                                    <div class="col-md-8 search-by-price">
                                        {{ filter.form.price.errors }}
                                        {{ filter.form.price.label_tag }}
                                        {{ filter.form.price }}
                                    </div>
                                </div>
                                
                            </div>
                        </form>						

					</div>
					<!-- Main Search Container / End -->

				</div>
			</div>
		</div>

	</div>
</div>

<!-- Content
================================================== -->
<div class="container margin-bottom-100">
	<div class="row">
	
		<div class="col-md-12">
			<h3 class="headline margin-bottom-25 margin-top-65">Newly Added</h3>
		</div>

		<!-- Carousel -->
		<div class="col-md-12">
			<div class="carousel">
                {% for listing in latest_5 %}
                    {% include 'includes/listings/vertical_card.html' %}
                {% endfor %}
			</div>
		</div>
		<!-- Carousel / End -->

	</div>
</div>

<!-- Flip banner -->
<a href="listings-half-map-grid-standard.html"
class="flip-banner parallax"
data-color="#6449E7"
data-color-opacity="0.9">
	<div class="flip-banner-content">
		<h2 class="flip-visible">We help people and homes find each other</h2>
		<h2 class="flip-hidden">Browse Properties <i class="sl sl-icon-arrow-right"></i></h2>
	</div>
</a>
<!-- Flip banner / End -->

{% endblock %}