{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    {% include 'includes/title.html' %}
{% endblock %}

{% block content %}

<!-- Banner
================================================== -->
<div class="parallax" 
data-background="{% static 'assets/images/home-parallax.jpg' %}" 
data-color="#36383e" 
data-color-opacity="0.45" 
data-img-width="2500" 
data-img-height="1600">
	<div class="parallax-content">

		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<!-- Main Search Container -->
					<div class="main-search-container">
						<h2>Find Your Dream Home</h2>
						
						<!-- Main Search -->
						<form class="main-search-form" action="{% url 'listings:search' %}" method="get" autocomplete="off">
                            <!-- Type -->
							<div class="search-type">
								<label class="active"><input class="first-tab" name="tab" checked="checked" type="radio">Any Status</label>
								<label><input name="tab" type="radio">For Sale</label>
								<label><input name="tab" type="radio">For Rent</label>
								<div class="search-type-arrow"></div>
                            </div>
                            
                            <!-- Box -->
							<div class="main-search-box">

                                {{ filter.form.non_field_errors }}
                                <div class="main-search-input larger-input">
                                    {{ filter.form.subject.errors }}
                                    <label for="{{ filter.form.title.id_for_label }}">Email title:</label>
                                    {{ filter.form.title }}
                                    <button class="button" type="submit">Search</button>
                                </div>
                                <div class="row with-forms">
                                    <div class="col-md-4">
                                        {{ filter.form.city.errors }}
                                        <label for="{{ filter.form.city.id_for_label }}">Your city:</label>
                                        {{ filter.form.city }}
                                    </div>
                                    <div class="col-md-8">
                                        {{ filter.form.price.errors }}
                                        <label for="{{ filter.form.price.id_for_label }}">Your email address:</label>
                                        {{ filter.form.price }}
                                    </div>
                                </div>
                                
                            </div>
                        </form>						

					</div>
					<!-- Main Search Container / End -->

				</div>
			</div>
		</div>

	</div>
</div>

<!-- Content
================================================== -->
<div class="container margin-bottom-100">
	<div class="row">
	
		<div class="col-md-12">
			<h3 class="headline margin-bottom-25 margin-top-65">Newly Added</h3>
		</div>

		<!-- Carousel -->
		<div class="col-md-12">
			<div class="carousel">

                {% for listing in latest_5 %}

                    <!-- Listing Item -->
                    <div class="carousel-item">
                        <div class="listing-item">

                            <a href="{% url 'listings:detail' listing.slug %}" class="listing-img-container">

                                <div class="listing-badges">
                                    <span class="featured">Featured</span>
                                    <span>For Sale</span>
                                </div>

                                <div class="listing-img-content">
                                    <span class="listing-price">${{ listing.price }} <i>$520 / m2</i></span>
                                    <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                                    <span class="compare-button with-tip" data-tip-content="Add to Compare"></span>
                                </div>

                                <div class="listing-carousel">
                                    {% for image in listing.get_images %}
                                        <div><img src="{{ image.image.url }}" alt=""></div>
                                    {% endfor %}
                                </div>

                            </a>

                            <div class="listing-content">

                                <div class="listing-title">
                                    <h4><a href="{% url 'listings:detail' listing.slug %}">{{ listing.title|truncatewords:8 }}</a></h4>
                                    <a href="https://maps.google.com/maps?q={{ listing.zip_code }}+{{ listing.address }},+{{ listing.city.city }}&hl=en"
                                       class="listing-address popup-gmaps">
                                        <i class="fa fa-map-marker"></i>
{#                                        9364 School St. Lynchburg, NY#}
                                        {{ listing.zip_code }} {{ listing.address }}, {{ listing.city.city }}
                                    </a>
                                </div>

                                <ul class="listing-features">
                                    <li>Area <span>{{ listing.quadrature }} m2</span></li>
                                    <li>Bedrooms <span>{{ listing.bedrooms }}</span></li>
                                    <li>Rooms <span>{{ listing.rooms }}</span></li>
                                </ul>

                                <div class="listing-footer">
                                    <a href="{% url 'accounts:user_identifier' listing.user.identifier %}">
                                        <i class="fa fa-user"></i>{{ listing.user }}
                                    </a>
                                    <span><i class="fa fa-calendar-o"></i>{{ listing.created_at|naturalday }}</span>
                                </div>

                            </div>

                        </div>
                    </div>
				<!-- Listing Item / End -->


                {% endfor %}  <!-- END FOR carousel -->





			</div>
		</div>
		<!-- Carousel / End -->

	</div>
</div>

<!-- Flip banner -->
<a href="listings-half-map-grid-standard.html"
class="flip-banner parallax"
data-color="#6449E7"
data-color-opacity="0.9">
	<div class="flip-banner-content">
		<h2 class="flip-visible">We help people and homes find each other</h2>
		<h2 class="flip-hidden">Browse Properties <i class="sl sl-icon-arrow-right"></i></h2>
	</div>
</a>
<!-- Flip banner / End -->

{% endblock %}