<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>Listings</h2>
                <span>Find your perfect place</span>
                
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li>Listings</li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>