{% extends 'base.html' %}

{% block title %}
    {% include 'includes/title.html' %}
{% endblock %}

{% block content %}
    <h1>Create new Search Profile</h1>
    {% if reached_max_sp %}
        <p style="color: red;">You've reached the maximum number of Search profiles you can have.<br>
            Please <a href="#">upgrade to Premium</a> to have access to more Search profiles and many other cool features.</p>
    {% endif %}
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" {% if reached_max_sp %} disabled {% endif %}/>
    </form>
{% endblock %}