{% load humanize %}

<div class="listing-item">
    <a href="{% url 'listings:detail' object.slug %}" class="listing-img-container">

        <div class="listing-badges">
            <span class="featured">Featured</span>
            <span>For {{ object.listing_type.title }}</span>
        </div>

        <div class="listing-img-content">
            <span class="listing-price">{{ object.price }} <i>&euro;</i></span>
            <!-- <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span> -->
            <span class="like-icon with-tip under-development" data-tip-content="Under Development!"></span>
            <span class="compare-button with-tip" data-tip-content="Add to Compare"></span>
        </div>

        {% if object.get_images_count %}
            <div class="listing-carousel">
                {% for item in object.get_images %}
                    <div><img src="{{ item.image.url }}" alt="{{ object.title }}"></div>
                {% endfor %}
            </div>
        {% endif %}

        
    </a>

    <div class="listing-content">

        <div class="listing-title">
            <h4><a href="{% url 'listings:detail' object.slug %}">{{ object.title|truncatewords:8 }}</a></h4>
            <a href="https://maps.google.com/maps?q={{ object.zip_code }}+{{ object.city.city }},+{{ object.city.region }}&hl=en" class="listing-address popup-gmaps">
                <i class="fa fa-map-marker"></i>
                {{ object.zip_code }}, {{ object.city.city }}, {{ object.city.region }}
            </a>

            <a href="{% url 'listings:detail' object.slug %}" class="details button border">Details</a>
        </div>

        <ul class="listing-details">
            <li>{{ object.quadrature }} m2</li>
            <li>{{ object.bedrooms }} Bedroom{{ object.bedrooms|pluralize }}</li>
            <li>{{ object.rooms }} Room{{ object.rooms|pluralize }}</li>
        </ul>

        <div class="listing-footer">
            <a href="{% url 'accounts:publisher' object.user.identifier %}"><i class="fa fa-user"></i> {{ object.user }}</a>
            <span><i class="fa fa-calendar-o"></i>{{ object.created_at|naturalday }}</span>
        </div>

    </div>

<!-- 
<b>Description:</b> {{ object.description|truncatewords:10 }} <br/>
<b>Price:</b> {{ object.price }} EUR<br/> -->
            

</div>