{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    {% include '_shared/title.html' %}
{% endblock %}

{% block content %}
    {% include '_shared/breadcrumbs.html' %}

    <div class="container padding-bottom-70">
        <div class="row">
            <!-- Widget -->
            <div class="col-md-4">
                <div class="sidebar left">
                    {% include '_shared/profile-sidemenu.html' %}
                </div>
            </div>

            <div class="col-md-8 padding-bottom-70">
                <div class="main-content">
                    {% with request.user as user %} <br/>
                    <div class="row profile-header">
                        <div class="col-md-8">
                            <h3 class="desc-headline no-border margin-top-45">Profile details</h3>
                            <p class="profile-header-login"><span>Last login:</span> {{ user.last_login }}</p>
                        </div>
                        <div class="col-md-4">
                            <div class="profile-header-photo">
                                <img src="{{ user.get_profile_image }}" alt="user profile image">
                            </div>
                        </div>
                    </div>
                    <div class="row profile-body">
                        <div class="col-md-3">
                            <label>Full name:</label>
                        </div>
                        <div class="col-md-9">
                            <p>{{ user.get_full_name }}</p>
                        </div>
                        <div class="col-md-3">
                            <label>Email:</label>
                        </div>
                        <div class="col-md-9">
                            <p>{{ user.email }}</p>
                        </div>
                        <div class="col-md-3">
                            <label>Phone:</label>
                        </div>
                        <div class="col-md-9">
                            <p>{{ user.telephone }}</p>
                        </div>
                    </div>                       
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}