{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    {% include 'includes/title.html' %}
{% endblock %}

{% block content %}

{% include 'includes/shared/breadcrumbs.html' %}

<div class="container padding-bottom-70">
	<div class="row">

        <!-- Widget -->
		<div class="col-md-4">
			<div class="sidebar left">
				{% include 'includes/shared/profile-sidemenu.html' %}
			</div>
        </div>
        
        <div class="col-md-8">
            {% if listings %}
                
            
                <table class="manage-table responsive-table">

                    <tr>
                        <th><i class="fa fa-file-text"></i> Property</th>
                        <th class="expire-date"><i class="fa fa-calendar"></i> Creation Date</th>
                        <th><i class="fa fa-file-text"></i> Actions</th>
                    </tr>

                    {% for object in listings %}
                        <tr>
                            <td class="title-container">
                                <img src="{{ object.get_cover_image.url }}" alt="{{ object.title }}">
                                <div class="title">
                                    <h4><a href="{% url 'listings:detail' object.slug %}">{{ object.title|truncatewords:8 }}</a></h4>
                                    <span>{{ object.zip_code }}, {{ object.city }} </span>
                                    <span class="table-property-price">{{ object.price }} <i>&euro;</i></span>
                                </div>
                            </td>
                            <td class="expire-date">{{ object.created_at|naturalday }}</td>
                            <td class="action">
                                <a href="{% url 'listings:update' object.slug %}"><i class="fa fa-pencil"></i> Update</a>
                                <a href="#"><i class="fa  fa-eye-slash"></i> Hide</a>
                                <a href="{% url 'listings:delete' object.slug %}" class="delete" onclick="return confirm('Are you sure you want to delete this listing?');">
                                    <i class="fa fa-remove"></i> Delete</a>
                            </td>
                        </tr>
                    {% endfor %}

                </table>
                <a href="{% url 'listings:create' %}" class="margin-top-40 button">Submit New Property</a>
            {% else %}
                <p>You don't have any listings. Would you like to <a class="margin-top-40 button" href="{% url 'listings:create' %}">create one?</a></p>
            {% endif %}
		</div>

        <!--
        <h6>Last login: {{ user.last_login|naturaltime }}</h6>        
        <h4><a href="{% url 'accounts:profile_update' %}">Update your profile</a> </h4> -->
    </div>
</div>

{% endblock %}