{% load humanize %}
<div style="border: 1px solid black; margin: 5px; padding: 5px; width: 80%;">
    <table>
        <tr>
            <td>
                <img src="{{ object.cover_image.url }}" alt="{{ object.title }}" height="150px" />
            </td>
            <td>
                <b>Title:</b> <a href="{% url 'listings:detail' object.slug %}"> {{ object.title }}</a> <br/>
                <b>Description:</b> {{ object.description|truncatewords:10 }} <br/>
                <b>Location:</b> {{ object.city }} - {{ object.zip_code }}<br/>
                <b>Price:</b> {{ object.price }} EUR<br/>
                <b>Owner:</b> <a href="{% url 'accounts:user_identifier' object.user.identifier %}">{{ object.user }}</a> <br/>
                <b>Created:</b> {{ object.created_at|naturalday }} <br/>
            </td>
        </tr>
    </table>
</div>